server:
    port: 8080

spring:
  application:
    name: customer

  datasource:
    url: jdbc:postgresql://localhost:5432/customer
    username: user
    password: 123

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true




#  datasource:
#    url: jdbc:postgresql://localhost:5432/customer
#    username: ${DB_USERNAME:user}  # Best practice: use env vars with defaults
#    password: ${DB_PASSWORD:123}
